<% articles.forEach(article => { %>
    <% article.comments.forEach(comment => { %>
    <% if (!comment.moderated) { %>
      <div class="columns comment-box">
        <div class="column is-2 comment-profile">
          <img class="profile-pic is-rounded" src="<%= comment.profilepic %>">
          <p class="subtitle is-6 comment-content"><%= comment.user %></p>
        </div>
        <div class="column is-10 comment-text">
          <p class="subtitle is-6"><%= comment.content %></p>
        </div>
          <form action="/articles/<%= article._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <input name="moderated" value="1" hidden>
            <button class="deletecommentButton">X</button>
          </form>
          <form action="/articles/<%= article._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button class="deletecommentButton">X</button>
          </form>
      </div>
      <hr class="hr-comments">
    <% } %>
  <% }) %>
<% }) %>
<% if (articles.filter(article => !!article.comments.filter(comment => !comment.moderated).length).length === 0) { %>
  <h1>There are no comments to be moderated</h1>
<% } %>
