<div class="columns is-multiline is-2 article-container">
  <% articles.forEach(article => {%>
    <div class="column is-4">
      <a href="/articles/<%= article.id %>">
      <img src="<%= article.coverimg %>" class="coverimg"/>
      <h3 class="title article-title"><%= article.title %></h3>
      <p class="subtitle article-summary"><%= article.frontPageSummary %></p>
      <p class="subtitle article-createdby">Written by - <%= article.addedBy.username %></p>
      </a>
    </div>
  <% }) %>
</div>
