<div class="article-page">
  <img class="showHeaderImg" src="<%= article.coverimg %>">
  <div class="article-content">
    <h2 class="title is-4"><%= article.title %></h2>
    <hr class="hr-changes">
    <p class="subtitle is-5"><%= article.frontPageSummary %></p>
    <hr class="hr-changes">
    <p class="subtitle is-5"><%= article.content %></p>
  </div>
</div>

<hr class="hr-comments">
<% article.comments.forEach(comment => { %>
  <div class="columns comment-box">
    <div class="column is-2 comment-profile">
      <img class="profile-pic is-rounded" src="https://i.imgur.com/WfTwlKh.jpg">
      <p class="subtitle is-6 comment-content"><%= comment.user %></p>
    </div>
    <div class="column is-10 comment-text">
      <p class="subtitle is-6"><%= comment.content %></p>
    </div>
    <form action="/articles/<%= article._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
      <button>X</button>
    </form>
  </div>
  <hr class="hr-comments">
<% }) %>

<div class="field comment-container">
 <div class="control">
   <form action="/articles/<%= article._id %>/comments" method="post" id="newcomment">
     <input name="user" value="<%= locals.currentUser.username %>" hidden/>
     <textarea type="text" name="content" class="comment-input-box textarea has-fixed-size" placeholder="Tell the writer your thoughts on their piece" rows="4" form="newcomment"></textarea>
     <button class="comment-submit">Submit your comment !</button>
   </form>
 </div>
</div>
